:root {
    --bg-color: #111;
    --tile-bg: rgba(255, 255, 255, 0.08);
    --tile-border: #fff;
    --text-color: white;
    --settings-btn-normal-bg: var(--tile-bg);
    --settings-btn-editing-bg: white;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    overflow: hidden;
}

.tile {
    padding: 10px;
    background: var(--tile-bg);
    border-radius: 10px;
    position: absolute;
    min-width: 120px;
    min-height: 50px;
    color: var(--text-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#settings-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--settings-btn-normal-bg);
    position: fixed;
    padding: 7px;
    cursor: pointer;
    top: 10px;
    right: 10px;
    transition: all 0.3s ease;
}

#settings-img:hover {
    background: var(--settings-btn-editing-bg);
}

.tile.editing {
    border: 2px dashed var(--tile-border);
    cursor: move;
}