body {
    background-color: var(--wall-bg);
    color: var(--tile-text);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.tile {
    position: absolute;
    background-color: var(--tile-bg);
    color: var(--tile-text);
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: max-content;
    user-select: none;
}

.tile.edit-mode {
    border: 2px dashed var(--tile-border-edit);
    cursor: move;
}

#settings-icon,
#add-tile-icon,
#change-theme-icon,
#change-theme-dark-icon,
#change-theme-light-icon,
#change-theme-device-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s ease;
}

#settings-icon {
    top: 8px;
    right: 8px;
}

#add-tile-icon {
    top: 58px;
    right: 8px;
}

#change-theme-icon {
    top: 108px;
    right: 8px;
}

#change-theme-dark-icon {
    top: 108px;
    right: 58px;
}

#change-theme-light-icon {
    top: 108px;
    right: 108px;
}

#change-theme-device-icon {
    top: 108px;
    right: 158px;
}

#settings-icon:hover,
#add-tile-icon:hover,
#change-theme-icon:hover,
#change-theme-dark-icon:hover,
#change-theme-light-icon:hover,
#change-theme-device-icon:hover {
    background-color: var(--btn-bg-hover);
    color: var(--btn-text-hover);
}

#change-theme-dark-icon.active, #change-theme-light-icon.active, #change-theme-device-icon.active {
    background-color: var(--btn-bg-hover);
    color: var(--btn-text-hover);
}

#settings-icon:not(.edit-mode):hover {
    transform: rotate(90deg);
}

#add-tile-icon.popup-enter,
#change-theme-icon.popup-enter,
#change-theme-dark-icon.popup-enter,
#change-theme-light-icon.popup-enter,
#change-theme-device-icon.popup-enter {
    transform: scale(1);
}

#add-tile-icon.popup-exit,
#change-theme-icon.popup-exit,
#change-theme-dark-icon.popup-exit,
#change-theme-light-icon.popup-exit,
#change-theme-device-icon.popup-exit {
    transform: scale(0);
}